# 生成模型
LLM_MODEL=deepseek-chat
LLM_API_KEY=your_api_key_here
LLM_BASE_URL=https://api.deepseek.com/v1


# 评估模型
EVAL_LLM_MODEL=deepseek-chat
EVAL_LLM_API_KEY=your_api_key_here
EVAL_LLM_BASE_URL=https://api.deepseek.com/v1


# SQL生成模型
SQL_ROUTER_MODEL=deepseek-chat
SQL_ROUTER_API_KEY=your_api_key_here
SQL_ROUTER_BASE_URL=https://api.deepseek.com/v1

# 智谱联网搜索
ZHIPU_API_KEY=your_zhipu_api_key_here
